@import './reset.scss';
@import './vars.scss';
@import './mixins-templates.scss';
@import '../blocks/benefits.scss';

body{
    font-family: $font;
}

.container{
    max-width: 1049px;
    margin: auto;
}

.title{
    @include font-style(700, 142%, 40px, 0.01em, $title)
}
    
.description{
    @include font-style(500, 143%, 14px, 0.01em, $description)
}