@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$title: #252B42;
$description:#737373;
$white: white;
$font: 'Montserrat', sans-serif;

